# Reading and Writing data in text fromat

In [1]:
#Type inference is one where we dont have to specify which columns are numeric,integer,boolean,or string.

In [9]:
import pandas as pd
from pandas import DataFrame

# parsing functions in pandas

In [30]:
df = pd.read_csv('C:/Users/HP/Desktop/rony.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [31]:
pd.read_table('C:/Users/HP/Desktop/rony.csv',sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [35]:
#by default header is taken as true

In [37]:
pd.read_csv('C:/Users/HP/Desktop/rony2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [38]:
pd.read_csv('C:/Users/HP/Desktop/rony2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [39]:
#suppose we wanted the message column to be the index of the returned DataFrame.

In [40]:
names=['a','b','c','d','message']
pd.read_csv('C:/Users/HP/Desktop/rony2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [41]:
#to form a heirarichal index

In [44]:
pd.read_csv('C:/Users/HP/Desktop/rony3.csv',index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [45]:
list(open('C:/Users/HP/Desktop/ex3.txt'))

['         A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.972365  0.567892  0.586345\n',
 'ccc  0.256987 -0.568792  0.258975']

In [46]:
#if seperator is white spaces
pd.read_table('C:/Users/HP/Desktop/ex3.txt',sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.972365  0.567892  0.586345
ccc  0.256987 -0.568792  0.258975

In [49]:
#to skip rows
pd.read_table('C:/Users/HP/Desktop/ex3.txt',sep='\s+',skiprows=[1,2])

            A         B         C
ccc  0.256987 -0.568792  0.258975

In [57]:
#handling missing values

In [50]:
result=pd.read_table('C:/Users/HP/Desktop/ex5.csv',sep=',')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2    three   9  10  11.0  12     foo

In [51]:
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [ ]:
#if you want to replace some values with NA

In [55]:
result=pd.read_table('C:/Users/HP/Desktop/ex5.csv',sep=',',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2    three   9  10  11.0  12     foo

In [56]:
result=pd.read_table('C:/Users/HP/Desktop/ex5.csv',sep=',',na_values=[5,8])
result

  something    a   b     c     d message
0       one  1.0   2   3.0   4.0     NaN
1       two  NaN   6   NaN   NaN   world
2    three   9.0  10  11.0  12.0     foo

In [58]:
sentinels={'message':['foo','NA'],'something':['two']}
pd.read_csv('C:/Users/HP/Desktop/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2    three   9  10  11.0  12     NaN

# Reading text files in pieces

In [61]:
result=pd.read_table('C:/Users/HP/Desktop/ex5.csv',sep=',',nrows=2)
result

  something  a  b    c  d message
0       one  1  2  3.0  4     NaN
1       two  5  6  NaN  8   world

# Writing Data out to Text fromat

In [66]:
data=pd.read_csv('C:/Users/HP/Desktop/rony2.csv',names=names,index_col='message')
data

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [63]:
#to convert to csv
data.to_csv('C:/Users/HP/Desktop/rony2_out.csv')

In [70]:
#to print the text result
import sys
data.to_csv(sys.stdout,sep='|')

message|a|b|c|d
hello|1|2|3|4
world|5|6|7|8
foo|9|10|11|12

In [71]:
data.to_csv(sys.stdout,index=False,header=False)

1,2,3,4
5,6,7,8
9,10,11,12

In [73]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3
5,6,7
9,10,11

# jSON data

In [2]:
obj="""
{"name":"wes","places_lived":['USA','spain','germany'],
'pet':null,'siblings':[{'name':'scott','age':25,'pet':'zuko'},
                       {'name':'katie','age':33,'pet':'Cisco'}]
}
"""

In [6]:
import json
obj=json.dumps({"name":"wes","places_lived":['USA','spain','germany'],
'pet':0,'siblings':[{'name':'scott','age':25,'pet':'zuko'},
                       {'name':'katie','age':33,'pet':'Cisco'}]
})
obj

'{"name": "wes", "places_lived": ["USA", "spain", "germany"], "pet": 0, "siblings": [{"name": "scott", "age": 25, "pet": "zuko"}, {"name": "katie", "age": 33, "pet": "Cisco"}]}'

In [7]:
result=json.loads(obj)
result

{'name': 'wes',
 'pet': 0,
 'places_lived': ['USA', 'spain', 'germany'],
 'siblings': [{'age': 25, 'name': 'scott', 'pet': 'zuko'},
  {'age': 33, 'name': 'katie', 'pet': 'Cisco'}]}

In [10]:
siblings=DataFrame(result['siblings'],columns=['name','age'])
siblings

    name  age
0  scott   25
1  katie   33

# XML and HTML:Web Scraping

In [12]:
from lxml.html import parse
from urllib.request import urlopen

parsed=parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc=parsed.getroot()

In [13]:
links=doc.findall('.//a')

In [14]:
links[15:20]

[<Element a at 0x20103382458>,
 <Element a at 0x201033824a8>,
 <Element a at 0x201033824f8>,
 <Element a at 0x20103382548>,
 <Element a at 0x20103382598>]

In [15]:
lnk=links[28]
lnk

In [16]:
lnk.get('href')

'/quote/FB?p=FB'

In [17]:
lnk.text_content()

'FB'

In [18]:
urls=[lnk.get('href') for lnk in doc.findall('.//a')]

In [19]:
urls[-10:]

['https://smallbusiness.yahoo.com',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US&id=SLN2310',
 'http://help.yahoo.com/l/us/yahoo/finance/',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'https://twitter.com/YahooFinance',
 'https://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

# Reading microsoft excel files

In [20]:

xls_file=pd.ExcelFile('C:/Users/HP\Desktop/gst/excels/FG CHAPTER ID-animal.xls')

In [22]:
table=xls_file.parse('Sheet1')

In [23]:
table

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,REM,Material,Material Description,Plnt,Chapter ID,Confirmed By Party,remarks
1,NaN,5010900,ZYCLOZ BOLUS 4S,B301,3004 90 85,3004 90 85,NaN
2,NaN,5010905,ZYCLOZ INJECTION 20 ML,B445,3004 20 69,3004 90 85,NaN
3,NaN,NaN,NaN,B816,3004 20 69,3004 90 85,NaN
4,NaN,NaN,NaN,B817,3004 20 69,3004 90 85,NaN
5,NaN,5010906,ZYCLOZ INJECTION 30 ML,B445,3004 20 69,3004 90 85,NaN
6,NaN,NaN,NaN,B816,3004 20 69,3004 90 85,NaN
7,NaN,NaN,NaN,B817,3004 20 69,3004 90 85,NaN
8,NaN,5010907,ZYCLOZ INJECTION 100 ML,B445,3004 20 69,3004 90 85,NaN
9,NaN,NaN,NaN,B816,3004 20 69,3004 90 85,NaN
10,NaN,NaN,NaN,B817,3004 20 69,3004 90 85,NaN
11,NaN,5010908,HEXANIDE SUSPENSION 90 ML,B433,3004 90 84,3004 90 29,NaN
12,NaN,NaN,NaN,B447,3004 90 84,3004 90 29,NaN
13,NaN,NaN,NaN,B816,3004 90 84,3004 90 29,NaN
14,NaN,NaN,NaN,B817,3004 90 84,3004 90 29,NaN
15,NaN,5010909,ZYCLOZ LIQUID 30 ML,B301,3004 90 85,3004 90 85,NaN
16,NaN,NaN,NaN,B433,3004 90 85,3004 90 85,NaN
17,NaN,NaN,NaN,B447,3004 90 85,3004 90 85,NaN
18,NaN,NaN,NaN,B816,3004 90 85,3004 90 85,NaN
19,NaN,NaN,NaN,B817,3004 90 85,3004 90 85,NaN
20,P,5010910,ZYCLOZ LIQUID 200 ML,B301,3004 90 85,3004 90 85,NaN
21,P,NaN,NaN,B433,3004 90 84,3004 90 85,NaN
22,P,NaN,NaN,B447,3004 90 84,3004 90 85,NaN
23,P,NaN,NaN,B816,3004 20 69,3004 90 85,NaN
24,P,NaN,NaN,B817,3004 20 69,3004 90 85,NaN
25,P,5010911,ZYCLOZ LIQUID 500 ML,B301,3004 90 85,3004 90 85,NaN
26,P,NaN,NaN,B433,3004 20 69,3004 90 85,NaN
27,P,NaN,NaN,B447,3004 20 69,3004 90 85,NaN
28,P,NaN,NaN,B816,3004 20 69,3004 90 85,NaN
29,P,NaN,NaN,B817,3004 20 69,3004 90 85,NaN
...,...,...,...,...,...,...,...
945,P,5025856,NEOPROFEN INJECTION (15 ML),B301,3004 90 85,NaN,NaN
946,P,NaN,NaN,B817,3004 90 29,NaN,NaN
947,NaN,5025858,OXYNEX INJECTION (100 ML),B301,3004 90 85,NaN,NaN
948,NaN,NaN,NaN,B817,(blank),NaN,NaN
949,P,5025861,SUPRAZOLE ORAL SUSPENSION (30 ML),B301,3004 90 85,NaN,NaN
950,P,NaN,NaN,B817,3004 90 29,NaN,NaN
951,P,5025862,SUPRAZOLE BOLUS 3000 1'S,B301,3004 90 85,NaN,NaN
952,P,NaN,NaN,B817,3004 90 29,NaN,NaN
953,P,5025885,ALPHOS 40 INJECTION (30 ML),B301,3004 90 85,NaN,NaN
954,P,NaN,NaN,B816,3004 90 29,NaN,NaN
955,P,NaN,NaN,B817,3004 90 29,NaN,NaN
956,NaN,5026916,ZYDARELIN INJ 2.5 ML,B816,3004 90 85,NaN,NaN
957,NaN,NaN,NaN,B817,3004 90 85,NaN,NaN
958,NaN,5026917,ZYDARELIN INJ 5 ML,B816,3004 90 85,NaN,NaN
959,NaN,NaN,NaN,B817,3004 90 85,NaN,NaN
960,NaN,5026918,ZYDARELIN INJ 10 ML,B816,3004 90 85,NaN,NaN
961,NaN,NaN,NaN,B817,3004 90 85,NaN,NaN
962,NaN,5027411,GROMAX-DS 25 KG,B817,2309 90 90,NaN,NaN
963,NaN,5027449,BREMULIN-80 1 KG,B816,3004 90 85,NaN,NaN
964,NaN,NaN,NaN,B817,3004 90 85,NaN,NaN
965,NaN,5027615,MARBODAC 16 INJ 30 ML,B816,3003 10 10,30031000,NaN
966,NaN,NaN,NaN,B817,3003 10 10,30031000,NaN
967,NaN,5027654,TILMOTIL 240 ML,B816,3004 90 85,NaN,NaN
968,NaN,NaN,NaN,B817,3004 90 85,NaN,NaN
969,NaN,5027741,SUPPLIMIN TM RV-20 KG,B816,(blank),NaN,NaN
970,NaN,NaN,NaN,B817,(blank),NaN,NaN
971,NaN,5027766,NE-FIX 5 KG,B817,(blank),NaN,NaN
972,NaN,5027828,SULPHA BOLUS 4S TABLET,B301,3004 90 85,NaN,NaN
973,NaN,NaN,NaN,B816,3004 90 85,NaN,NaN
974,NaN,NaN,NaN,B817,3004 90 85,NaN,NaN

# Interacting with HTML and Web APIs

In [24]:
import requests

In [25]:
url='http://search.twitter.com/search.json?q=python%2Opandas'
resp=requests.get(url)
resp

In [28]:
import json
data = json.loads(resp.text)
data.keys()

dict_keys(['errors'])

In [ ]:
import json
db = json.loads('C:\Users\HP\Desktop')